:root {
  --background: #f7fcf7; /* Soft Sage White */
  --text: #2c3e50; /* Deep Navy */
  --primary: #608a7a; /* Sage Green */
  --secondary: #a3ddc7; /* Light Teal */
  --accent: #c08497; /* Pastel Gold */
  --offset: 4px;
  --shadow-color: rgba(0, 0, 0, 0.1); /* Gentle Shadow */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Space Mono", monospace;
  color: var(--text);
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
  text-transform: uppercase;

}

a {
  color: inherit;
  text-decoration: none;
}

section {
  margin: 6rem 0;
}

@media (max-width: 768px) {
  section {
    margin: 4rem 0;
  }
}
